* {
    --info-bg: #ccddfe;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    margin: 10px;
    padding: 13px;
    border: 1px #d2d2d2 solid;
    border-radius: 5px;
}

.message-info {
    background-color: var(--info-bg);
    color: #47419f;
}

.message-success {
    background-color: #cff3da;
    color: #00622a;
}

.message-warning {
    background-color: #fcfbc9;
    color: #9a8928;
}

.message-error {
    background-color: #fad3d7;
    color: #93324a;
}